<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
             id="EclipseJavaBuilder"
             name="Cleardep Java Builder"
             point="org.eclipse.core.resources.builders">
      <builder callOnEmptyDelta="true">
        <run class="org.sugarj.cleardep.buildjava.EclipseJavaBuilder">
          <parameter name="optimize" value="true"/>
          <parameter name="comment" value="Cleardep Java Builder"/>
        </run>
      </builder>
   </extension>
</plugin>
